
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


body{
  background-image: url(https://images.unsplash.com/photo-1517336714731-489689fd1ca8?fit=max&fm=jpg&ixid=eyJhcHBfaWQiOjM1NjcwfQ&ixlib=rb-1.2.1&q=75&w=720&utm_source=vocal.media);
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin: 0;


}
header{
  margin-top:50px;
  text-align: center;
}
label{
  display: block;
  padding-top: 20px;
}
span{
  font-size: 16px;
}
textarea{
  padding-left: 10px;
  padding-top: 10px;
  width: 94%;
}

.formbackground{
  text-align: center;
  background-color: #221f3b;
  border-radius: 10px;
  margin-left: 265px;
  margin-right: 250px;
  opacity: 0.95;


}
.inputBox{
  width: 95%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0;

}
.radio-label{
  display: inline;
}
.checkbox-label{
  display: inline;
}
.button{
  text-align: center;
}


#dropdown{
  width: 95%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border-radius: 5px;
  border: 0;

}

#survey-form{
  text-align: left;
  font-size: 25px;
  margin-left: 40px;
  padding-top: 75px;
  margin-right: 15px;


}
#title{
  font-size: 40px;
}
#description{
  font-size: 25px;
  margin-bottom: 50px;
}
#submit{
width: 100%;
height: 50px;
border-radius: 5px;
border: 0;
background-color: #21bf73;
color: white;
width: 96%;
margin-right: 50px;
margin-top: 25px;
margin-bottom: 60px;



}
